body{
	background-color: black;
	padding:0px;
	margin: 0px;
	box-sizing: border-box;
}

header{
	background-color: pink;
	overflow: hidden;
}

footer{
	background-color: pink;
	padding: 10px;
	text-align: center;
	overflow: hidden;
}

.content{
	width: 90%;
	margin: 0px auto 20px;
}

.title{
	float: left;
	padding-left: 10%;
}

.nav-menu{
	float: right;
	padding-top: 30px;
	padding-right: 10%;

}

.nav-menu a{
	text-decoration: none;
	padding-right: 30px;
	color: black;
}

.nav-menu a:hover{
	color: palevioletred;
}

.video-box,.about-box{
	background-color: pink;
	color: white;
	width: 20%;
	float: left;
	margin: 2.4%;
	border-radius: 5px;
}

.row::after{
	content: "";
	clear: both;
	display: table;
}

.video-box img{
	width: 100%;
	height: 220px;
}

.video-box p{
	font-size: 20px;
	text-align: center;
	color: black;
	font-weight: bold;
}

.lastest-text{
	color: pink;
	text-align: center;
	padding-top: 3%;
}


.image-box{
	width: 20%;
	height: 230px;
	float: left;
	background-color: pink;
}

.image-box img{
	width: 90%;
	height: 210px;
	padding: 5%;
}

.image-row{
	width: 100%;
}

.image-row h3{
	color: pink;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px dotted pink;
}

.about-content,.contact-content{
	margin: 20px 0px;
}

.about-content h3,.contact-content h3{
	color: pink;
	text-align: center;
	font-size: 23px;
}

.col{
	color: pink;
	width: 50%;
	float: left;
}

.about-content img{
	width: 60%;
	margin-left: 30%;
	margin-top: 2%;
}
.about-content .a-text{
	width: 70%;
}

.about-box img{
	width: 100%;
	margin-left: 0%;
	margin-top: 0%;
}

.about-text{
	color: black;
	height: 200px;
	overflow: auto;
}
.about-text h4{
	text-align: center;
}

.about-text p{
	text-align: justify;
}
.contact-content{
	margin: 20px 0px;
	background-color: white;

}

.contact-content .contact-col{
	width: 50%;
	float: left;
}
.contact-content h3{
	color: pink;
	text-align: center;
	font-size: 23px;
	background-color: black;
	padding-bottom: 20px;
}
.contact-col .form{
	background-color: pink;
	width: 70%;
	margin: 30px auto;
	padding: 20px 30px 20px 20px;
	border-radius: 5px;
}
.form input,textarea{
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border-color: transparent;
}

.contact-col .contact-info{
	width: 70%;
	background-color: white;
	box-shadow: 1px 1px 1px 1px gray;
	padding: 20px;
	margin-top: 30px;
	text-align: center;
	border-radius: 5px;
}
.home-content{
	width: 100%;
}
.home-content img{
	width: 100%;
}

.send-btn{

	margin: 10px 0px 50px;
}

.send-btn button{
	float: right;
	padding: 10px 15px 10px;
	background-color: black;
	color: pink;
	border-radius: 5px;
}
.about-content .row{
	padding-bottom: 3%;
}

@media screen and (max-width: 680px){
	
	.video-box,.about-box{
		width: 40%;
		margin: 4.8%;
	}

	.video-box img{
		height: 150px;
	}

	.image-row{
		margin:0px auto;
	}

	.about-text{
		height: 150px;
	}
	.image-box{
		width: 33.33%;
	}
	.image-box img{
		width: 90%;
		padding: 6px;
	}
	.contact-content .contact-col{
		width: 100%;
	}
	.contact-col .contact-info{
		margin: 30px auto;
	}
	
	header .nav-menu{
		float: left;
		padding-left:  10%;
		padding-bottom: 20px;
		padding-top: 0px;
	}
	.nav-menu a{
		padding-right: 10px;
	}
	.home-content{
		height: 30vh;
	}
	.col{
		float: none;
		width: 100%;
	}
	.about-content .a-text{
		width: 90%;
		margin: 0px auto;
		margin-bottom: 2%;
		font-size: 11px;
	}
	.about-box p{
		font-size: 11px;
	}
	.about-content img{
		width: 60%;
		margin-left: 20%;
		margin-top: 2%;
		margin-bottom: 3%;
	}

	.image-box{
		height: 120px;
	}

	.image-box img{
		height: 110px;
	}


}

@media screen and (min-width: 680px){
	.about-content .a-text{
		font-size: 11px;
	}
	.about-box p{
		font-size: 11px;
	}
	.video-box{
		width: 40%;
		margin: 4.8%;
	}
	.image-box{
		width: 24.33%;
	}
	.image-box img{
		width: 90%;
	}
	
}

@media screen and (min-width: 1100px){
	.about-content .a-text{
		font-size: 15px;
	}
	.about-box p{
		font-size: 15px;
	}
	.video-box{
		width: 20%;
		margin: 2.4%;
	}
	.image-box{
		width: 20%;
		height: 230px;
		float: left;
		background-color: pink;
	}

	.image-box img{
		width: 90%;
		height: 210px;
		padding: 5%;
	}

	.image-row{
		width: 100%;
	}
}


